# for our beloved clangd users

BasedOnStyle: Google
#NamespaceIndentation: All
NamespaceIndentation: None
LambdaBodyIndentation: OuterScope
CommentPragmas: "^"
FixNamespaceComments: true
SortIncludes: false
IncludeBlocks: Preserve
IndentAccessModifiers: false
BinPackArguments: false
BinPackParameters: false

BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4

AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
IndentCaseLabels: false

AlignAfterOpenBracket: Align
#AlignAfterOpenBracket: DontAlign
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: true

#AlignConsecutiveMacros: Consecutive
IndentPPDirectives: AfterHash
PPIndentWidth: 1

BreakBeforeBraces: Attach
PointerAlignment: Left
SpaceAroundPointerQualifiers: Default
